* {
  font-family: Verdana, sans-serif;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #555;
  height: 3em;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

#navbar ul {
  list-style-type: none;
  padding: 0 2em;
  margin: 0;
  height: 100%;
  position: relative;
}

#navbar ul li {
  display: inline-block;
  height: 100%;
}

#navbar ul li a {
  color: #ddd;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0.75em;
  height: 100%;
  display: inline-block;
  line-height: 3em;
}

#navbar ul li a:hover {
  background: #aa4444;
  color: #fff;
}

#top-span {
  height: 3em;
}

body {
  background: #222;
  color: #ccc;
}

#messages {
  margin: 0.5em 2em;
  padding: 0.5em 1em;
  background: #444;
  border-radius: 3px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.message {
  margin: 0.25em 0.5em;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  color: #fff;
}

.message.error {
  background: #664444;
}

.message.ok {
  background: #446644;
}

.message.info {
  background: #446666;
}

.message.warn {
  background: #666644;
}

#content {
  margin: 1em 10%;
  padding-top: 1em;
  padding-bottom: 1.5em;
  padding-left: 6em;
  padding-right: 1em;
  background: #444;
  border-radius: 3px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

h1 {
  margin: 8px -1em;
  margin-right: 0;
  padding-left: 1em;
  padding-bottom: 2px;
  border-bottom: 1px solid #cc4444;
  color: #fff;
  font-size: 28pt;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
}

h1 .subtitle {
  font-size: 18pt;
  color: #fff;
  font-weight: bold;
}

p {
  margin: 12px 0;
  font-size: 13pt;
}

table {
  width: 100%;
  padding: 10px 5px;
}

table tr {
  background: #505050;
}

table tr:nth-child(2n+1) {
  background: #585858;
}

table tr > th {
  background: #666;
  color: #fff;
  height: 2em;
}

table tr td {
  padding: 2px 4px;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

form {
  position: relative;
  width: 100%;
  padding: 10px 5px;
}

input {
  margin: 0;
  margin-bottom: 1em;
  width: 33%;
  border: 1px solid #aaa;
  border-radius: 3px;
  transition: border 0.1s ease-in-out,
              box-shadow 0.1s ease-in-out;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  outline: none;
}

input:focus {
  border: 1px solid #aa4444;
  box-shadow: 0 0 2px rgba(102, 68, 68, 0.6);
  outline: none;
}

input[type="text"], input[type="password"] {
  color: #ddd;
  background: #555;
  padding: 4px 3px;
  display: block;
}

input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6) inset;
}

input[type="submit"] {
  color: #ddd;
  background: #666;
  padding: 4px 3px;
  display: block;
  font-weight: bold;
  transition: background-color 0.1s ease-in-out,
              color 0.1s ease-in-out;
}

input[type="submit"]:hover {
  background: #664444;
  color: #fff;
}

input[type="file"] {
  display: block;
}

input[type="radio"] {
  width: inherit;
  margin-bottom: 0;
}

ul.radio {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 0;
}

ul.radio {
  list-style-type: none;
}

.form-errors {
  list-style-type: none;
  border-radius: 3px;
  background: #664444;
  width: 80%;
  padding: 0.25em 2em;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.form-errors:after, .form-errors:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
}

.form-errors:before {
  border: 10px solid transparent;
  z-index: 2;
  border-bottom-color: #664444;
  left: 20px;
  top: -20px;
}

.form-errors:after {
  border: 11px solid transparent;
  z-index: 1;
  border-bottom-color: rgba(0, 0, 0, 0.4);
  left: 19px;
  top: -22px;
}

.form-errors li {
  margin: 0.5em 0;
}

a, a:visited {
  color: #aa4444;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover, a:focus {
  color: #cc6666;
}
