<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
      <title>{% block title %}{% endblock %} -- Unreal Tournament: Resurrection</title>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
      <ul>
        <li><a href="{{ url_for('views.root') }}">Главная</a></li>
        <li><a href="{{ url_for('views.mods') }}">Модпак</a></li>
        <li><a href="{{ url_for('views.schedule') }}">Расписание</a></li>
        {% if not session['logged_in'] %}
          <li><a href="{{ url_for('views.register') }}">Регистрация</a></li>
          <li><a href="{{ url_for('views.login') }}">Авторизация</a></li>
        {% else %}
          <li><a href="{{ url_for('views.account') }}">Аккаунт</a></li>
          <li><a href="{{ url_for('views.logout') }}">Выйти</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="top-span"></div>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div id="messages">
          {% for category, message in messages %}
            <div class="message {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
