{%extends "layout.html" %}
{% block title %}Modpack{% endblock %}
{% block content %}
  <h1>Список модов</h1>
  <table>
    <tbody>
      <tr>
        <th>Имя мода</th>
        <th>Версия</th>
        <th>Авторы</th>
      </tr>
      {% with mods = [
          ("Chisel", "0.0.8.12", "Chisel team"),
          ("Chisels&Bits", "12.12", "AlgorithmX2"),
          ("ClientFixer", "1.4", "?"),
          ("Computronics", "1.6.2", "asiekierka, Vexatos"),
          ("Conventional", "0.0.15", "Vexatos"),
          ("IndustrialCraft 2", "2.6.173", "IC2 team"),
          ("JEI", "3.14.5.406", "mezz"),
          ("OpenComputers", "1.6.2.7", "Sangar"),
          ("OpenGlasses", "1.3", "marcin212"),
          ("Unreality", "0.1.0-e", "Totoro"),
          ("WAILA", "1.7.0-B3", "ProfMobius")
        ] -%}
        {% for mod, version, author in mods -%}
          <tr>
            <td class="right-align">{{ mod }}</td>
            <td class="center-align">{{ version }}</td>
            <td class="left-align">{{ author }}</td>
          </tr>
        {%- endfor %}
      {%- endwith %}
    </tbody>
  </table>
{% endblock %}
