{% extends "layout.html" %}
{% block title %}Расписание{% endblock %}
{% block content %}
  <h1>Расписание</h1>
  <p>Время дано в UTC.</p>
  <table>
    <tbody>
      {% with schedule = [
          ("2017-04-08 12:00:00", "2017-04-13 12:00:00", "Бета-тест"),
          ("2017-04-15 12:00:00", "2017-04-15 15:00:00", "Первый день"),
          ("2017-04-16 12:00:00", "2017-04-16 15:00:00", "Второй день")
        ] -%}
        {% for start, end, action in schedule -%}
          <tr>
            <td class="center-align">{{ start }}</td>
            <td class="center-align">{{ end }}</td>
            <td class="left-align">{{ action }}</td>
          </tr>
        {%- endfor %}
      {%- endwith %}
    </tbody>
  </table>
{% endblock %}
